body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.error {
  color: red;
}

.popup img {
  height: 200px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.popup {
  max-width: 40vw;
  padding: 1rem;
}

.popupImage {
  max-height: 100px;
  width: 300px;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  margin: 0.5rem 0;
  width: 100%;
  display: block;
}
